<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[TITLE]</title>
</head>

<body style="width:100%;margin-left:auto;margin-right:auto;">
    <div style="color: white;background-color: white; width:100%;height: 10px;margin-bottom: 10px;"></div>
    <div>
        <div>
            <img style="margin-top: -10px;position: relative; float: left;background-position: 50% 50%;background-repeat:no-repeat;background-size: contain;background-color: white; color: white; "
                 width="250px" height="50px" src="[KLIBU]">
        </div>
        <div style="position: relative;float: right;color: #313567;background-color: #313567; width:60%; border-radius: 0px 50px 0px 0px;height: 40px;">
        </div>
    </div>


    <table cellpadding="3"
           style="font-size:18px;font-family: arial, sans-serif;border-collapse: collapse;width: 100%;border-radius: 0px 50px 0px 0px;overflow: hidden;border-spacing: 0 0;">
        <tr>
            <td style="text-align: center;padding: 50px;font-size:18px" colspan="3"><b>Semanas cotizadas</b></td>
        </tr>
        <tr style="text-align: center;background-color: #EEEEF5;" colspan="3">
            <td style="width: 200px;"><b>Folio:</b></td>
            <td style="width: 200px;"><b>Fecha de emisión</b></td>
            <td style="width: 200px;"><b>Tipo de verificación</b></td>
        </tr>
        <tr style="text-align: center;width: 100px;">
            <td style="">[FOLIO]</td>
            <td style="">[FECHAEMISION]</td>
            <td style="color: #2A9D4D;">Finalizado</td>
        </tr>
    </table>

    <table style="font-size: 20px;width: 100%;font-family: arial, sans-serif;border-collapse: collapse;overflow: hidden; margin-top: 50px;">
        <tr style="background-color: #EEEEF5;">
            <td style="width: 200px;padding-left: 20px;"><b>Estimado(a):</b></td>
            <td style="width: 200px;">[NAME]</td>
            <td style="width: 200px;text-align: center;"><b>Total de semanas cotizadas:</b></td>
        </tr>
        <tr>
            <td style="padding-left: 20px;"><b>NSS:</b></td>
            <td>[NSS]</td>
            <td style="text-align: center;">[SEMANASCOTIZADAS]</td>
        </tr>
        <tr style="background-color: #EEEEF5;">
            <td style="width: 200px;padding-left: 20px;"><b>CURP:</b></td>
            <td style="width: 200px;">[CURP]</td>
            <td style="width: 200px;"></td>
        </tr>
    </table>

    <table cellpadding="3"
           style="margin-top: 60px;font-size: 20px;font-family: arial, sans-serif;border-collapse: collapse;width: 100%;overflow: hidden;border-spacing: 0 0;">
        <tr>
            <td>
                <table style="font-size: 20px;width: 100%;font-family: arial, sans-serif;border-collapse: collapse;overflow: hidden; margin-top: 50px;">
                    <tr>
                        <tr>
                            <td style="background-color:#313567;color: white; padding: 15px; font-size: 24px;" colspan="3">
                                <b>HISTORIAL LABORAL</b>
                            </td>
                        </tr>
                    </tr>
                </table>
            </td>
        </tr>
        [MOVIMIENTOS]
    </table>

    <table cellpadding="3"
           style="margin-top: 60px;font-size: 20px;font-family: arial, sans-serif;border-collapse: collapse;width: 100%;overflow: hidden;border-spacing: 0 0;">
        <tr>
            <td>
                <table style="page-break-inside: auto;font-size: 16px;width: 100%;font-family: arial, sans-serif;border-collapse: collapse;overflow: hidden; margin-top: 50px;background-color: #EEEEF5;">
                    <tr>
                        <tr>
                            <td style="padding: 20px;background-color:#313567;color: white; padding: 15px; font-size: 24px;" colspan="3">
                                <b>IMPORTANTE</b>
                            </td>
                        </tr>
                        <tr style="text-align: justify;">
                            <td style="padding: 10px;">
                                Esta constancia presenta el número de semanas que has cotizado durante tu vida laboral, registradas en el IMSS. Además, esta constancia puede contener el número de semanas cotizadas en el ISSSTE, si laboraste en el sector público y en su momento solicitaste la portabilidad de semanas al IMSS.
                                En caso de inconformidad con el número de semanas cotizadas, puedes presentar tu aclaración en línea a través de la siguiente liga: www.imss.gob.mx/servicios-digitales o bien de forma presencial en la Subdelegación del IMSS más cercana a tu domicilio en días y horas hábiles.
                                Solo te pedimos tener a la mano el nombre de tus patrones, las fechas en las que laboraste con ellos y el domicilio en donde se ubica el centro de trabajo, siendo importante precisar que el nombre o razón social de tus patrones puede diferir del nombre comercial por el que el patrón es conocido.
                                Adicionalmente ten en cuenta lo siguiente: <br>
                                
                                <li>Las semanas cotizadas son contabilizadas con base en los periodos comprendidos entre tus fechas de alta y baja con uno o varios patrones.</li>
                                <li>En caso de que hayas laborado con dos o mas patrones, o cotizado para el IMSS y el ISSSTE, de forma simultánea, los períodos traslapados no se contabilizan como dobles.</li>
                                <li>El presente documento no resuelve respecto al derecho a obtener determinada prestación, en virtud de que ello dependerá del tipo de prestación solicitada, el cumplimiento de requisitos administrativos y el esquema de aseguramiento con el cual te encuentres afiliado al Instituto.</li>
                                <li>Si trabajaste en el sector público y tus cotizaciones en el ISSSTE están amparadas bajo el régimen de cuentas individuales podrás solicitar la transferencia de tus derechos de cotización, con la finalidad de acceder a una pensión bajo el Seguro de Retiro, Cesantía en Edad Avanzada y Vejez.
                                    Si tienes dudas con respecto a los datos que contiene la presente constancia, permítenos brindarte la asistencia necesaria a través de nuestros Departamentos de Afiliación Vigencia en Subdelegaciones IMSS.
                                    Para mayor información llama al centro de contacto IMSS al teléfono 01 800 623 23 23.</li>
                            </td>
                        </tr>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>