<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="width:100%;margin-left:auto;margin-right:auto;">
    <div style="color: white;background-color: white; width:100%;height: 10px;margin-bottom: 10px;"></div>
    <div>
        <div>
            <img style="margin-top: -10px;position: relative; float: left;background-position: 50% 50%;background-repeat:no-repeat;background-size: contain;background-color: white; color: white; "
                 width="250px" height="50px" src="[KLIBU]">
        </div>
        <div style="position: relative;float: right;color: darkblue;background-color: darkblue; width:60%; border-radius: 0px 50px 0px 0px;height: 40px;">
        </div>
    </div>


    <table cellpadding="3" style="font-size: 18px;font-family: arial, sans-serif;border-collapse: collapse;width: 100%;border-radius: 0px 50px 0px 0px;overflow: hidden;border-spacing: 0 0;">
        <tr>
            <td style="text-align: center;padding: 50px;font-size:18px" colspan="3"><b>Dictamen legal</b></td>
        </tr>
        <tr style="text-align: center;background-color: gainsboro;" colspan="3">
            <td style="width: 200px;"><b>Folio</b></td>
            <td style="width: 200px;"><b>Fecha de emisión</b></td>
            <td style="width: 200px;"><b>Tipo de verificación</b></td>
        </tr>
        <tr style="text-align: center;width: 100px;">
            <td style="">[FOLIO]</td>
            <td style="">[FECHAEMISION]</td>
            <td style="color: rgb(5, 141, 5);">Finalizado</td>
        </tr>
    </table>

    <table cellpadding="3" style="margin-top: 60px;font-size: 20px;font-family: arial, sans-serif;border-collapse: collapse;width: 100%;overflow: hidden;border-spacing: 0 0;">
        <tr>
            <td style="background-color:darkblue;color: white; padding: 15px; font-size: 24px;" colspan="3"><b>I. INFORMACIÓN CORPORATIVA.</b></td>
        </tr>
        <tr colspan="2">
            <td style="padding-left: 20px;"><b>A) </b>Nombre, razón o denominación social:</td>
            <td style="width: 50%;">[RAZONSOCIAL]</td>
        </tr>
        <tr colspan="2" style="background-color: gainsboro;">
            <td style="padding-left: 20px;"><b>B) </b>Nacionalidad:</td>
            <td style="width: 50%;">[NACIONALIDAD]</td>
        </tr>
        <tr colspan="2">
            <td style="padding-left: 20px;"><b>C) </b>Duración:</td>
            <td style="width: 50%;">[DURACION]</td>
        </tr>
        <tr colspan="2" style="background-color: gainsboro;">
            <td style="padding-left: 20px;"><b>D) </b>Domicilio:</td>
            <td style="width: 50%;">[DOMICILIO]</td>
        </tr>
        <tr colspan="2">
            <td style="padding-left: 20px;"><b>E) </b>Objeto Social, fines o atribuciones:</td>
            <td style="width: 50%;">[ATRIBUCIONES]</td>
        </tr>
        <tr style="background-color: gainsboro;">
            <td colspan="2" style="page-break-inside: auto;hyphens: auto;">
                <p style="padding: 18px;text-align: justify;hyphens: auto;page-break-inside: auto; font-size: 20px;">
                    La recepción, emisión, impresión y almacenaje de todo tipo de comprobantes fiscales y de toda clase de documentos, así como la prestación de toda clase de servicios relacionados con el procesamiento de datos. La obtención de préstamos o créditos de instituciones de crédito o de seguros del país, de entidades financieras del exterior o de los mismos accionistas o de terceros, destinados a la realización de las operaciones que constituyen el objeto de la sociedad.<br>
                    El otorgamiento de garantías reales, hipotecarias o prendarias en relación con los créditos que se obtengan de las instituciones de crédito o de cualquier acreedor. <br>
                    Obtener seguros y fianzas y otorgar toda clase de garantías reales o personales para garantizar obligaciones propias u obligaciones de terceras personas, así como constituirse como obligado solidario de terceras personas. <br>
                    Establecer, adquirir, arrendar, subarrendar, constituir, operar, poseer, así como también avalar y otorgar garantías y grabar propiedades a favor de terceros por cualquier título legal, contrato, convenio, acto jurídico mercantil o civil, los bienes muebles e inmuebles necesarios para llevar a cabo los objetos de la sociedad. Dar o tomar en préstamo con o sin garantía real o personal, así como la constitución, activa o pasiva, de derechos reales y gravámenes respecto de los bienes y derechos de la sociedad y de terceros. <br>
                    Obtener y conceder préstamos y celebrar en general operaciones de crédito activas y/o pasivas, otorgar avales, fianzas, prendas, hipotecas y fideicomisos para garantizar obligaciones propias o de terceros, con o sin contraprestación.
                    Otorgar préstamos o créditos a sociedades o asociaciones en las que la sociedad sea socia o asociada o tenga algún interés o participación; igualmente, girar, emitir, suscribir, otorgar, aceptar, avalar, negociar y endosar toda clase de títulos de crédito y otros documentos y comprobantes de adeudo, ya sean ejecutivos o no, garantizando su pago, así como el pago de los intereses que causen, por medio de hipoteca, prenda, fianza, cesión, o cualquier otro medio legal de garantía que proceda, asimismo garantizar operaciones de terceras personas físicas o morales y ser obligados solidarios de terceros. <br>
                    La adquisición, transmisión, suscripción, endoso, garantía, aceptación y, en general, negociación de títulos de crédito. <br>
                    En general, la celebración de toda clase de contratos y actos jurídicos que sean necesarios o convenientes para la realización de los objetos social.
                </p>
            </td>
        </tr>
    </table>
    <table cellpadding="3" style="margin-top: 50px;font-size: 20px;font-family: arial, sans-serif;border-collapse: collapse;width: 100%;overflow: hidden;border-spacing: 0 0;">
        <tr>
            <td colspan="3">
                <div style="margin-bottom: 20px;">De acuerdo con su objeto y estatutos sociales, o documentos constitutivos similares, vigentes, está facultado para asumir el carácter de: (elegir todas las que apliquen)</div>
            </td>
        </tr>
        <tr>
            <td style="background-color: gainsboro;padding: 10px;padding-left: 20px;">
                <div style="">
                    <div style="display: inline-block;width: 18px;height: 18px;background-color: transparent;border: 1px solid black;margin-right: 1%;text-align: center;">
                        [AC]
                    </div>
                    <div style="display: inline-block;">Acreditado</div>
                </div>
            </td>
            <td style="padding-left: 20px;">
                <div style="">
                    <div style="display: inline-block;width: 18px;height: 18px;background-color: transparent;border: 1px solid black;margin-right: 1%;text-align: center;">
                        [GT]
                    </div>
                    <div style="display: inline-block;">
                        Garate real de obligaciones de terceros.
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding: 10px;padding-left: 20px;">
                <div style="">
                    <div style="display: inline-block;width: 18px;height: 18px;background-color: transparent;border: 1px solid black;margin-right: 1%;text-align: center;">
                        [GP]
                    </div>
                    <div style="display: inline-block">
                        Garate real de obligaciones propias.
                    </div>
                </div>
            </td>
            <td style="background-color: gainsboro;padding-left: 20px;">
                <div style="">
                    <div style="display: inline-block;width: 18px;height: 18px;background-color: transparent;border: 1px solid black;margin-right: 1%;text-align: center;">
                        [FA]
                    </div>
                    <div style="display: inline-block">Fiador o avalista</div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="background-color: gainsboro;padding: 10px;padding-left: 20px;">
                <div style="">
                    <div style="display: inline-block;width: 18px;height: 18px;background-color: transparent;border: 1px solid black;margin-right: 1%;text-align: center;">
                        [OS]
                    </div>
                    <div style="display: inline-block;">Obligado solidario.</divs>
                </div>
            </td>
        </tr>
    </table>
    <table cellpadding="3" style="margin-top: 60px;font-size: 20px;font-family: arial, sans-serif;border-collapse: collapse;width: 100%;overflow: hidden;border-spacing: 0 0;">
        <tr>
            <td style="background-color:darkblue;color: white; padding: 15px; font-size: 24px;" colspan="4"><b>II. ESTRUCTURA ACCIONARIA.</b></td>
        </tr>
        <tr colspan="4">
            <table cellpadding="3" style="font-size: 20px;font-family: arial, sans-serif;border-collapse: collapse;width: 100%;overflow: hidden;border-spacing: 0 0;">
                <tr>
                    <td colspan="4" style="padding: 18px;">
                        <b>A)</b> Estructura accionaria (indicar el nombre, razón o denominación social de los accionistas y porcentaje de
                        tenencia accionaria y número de escritura):
                    </td>
                </tr>
                <tr style="background-color: gainsboro;text-align: center;">
                    <td style="padding-left: 20px;padding: 20px;border-right: 1px solid gray;">Accionista</td>
                    <td style="padding-left: 20px;padding: 20px;border-right: 1px solid gray;">No. de acciones o partes sociales</td>
                    <td style="padding-left: 20px;padding: 20px;border-right: 1px solid gray;">Valor</td>
                    <td style="padding-left: 20px;padding: 20px;">Porcentaje de participación</td>
                </tr>
                [Shareholder]
            </table>
        </tr>
    </table>

    <table cellpadding="3" style="margin-top: 60px;font-size: 20px;font-family: arial, sans-serif;border-collapse: collapse;width: 100%;overflow: hidden;border-spacing: 0 0;">
        <tr>
            <td style="background-color:darkblue;color: white; padding: 15px; font-size: 24px;" colspan="3"><b>III. FORMA DE ADMINISTRACIÓN.</b></td>
        </tr>
        <tr>
            <td style="padding-left: 20px;text-align: justify;padding: 20px;">
                [COMENTARIOS]
            </td>
        </tr>
    </table>

    <table cellpadding="3" style="page-break-inside: auto;margin-top: 60px;font-size: 20px;font-family: arial, sans-serif;border-collapse: collapse;width: 100%;overflow: hidden;border-spacing: 0 0;">
        <tr>
            <td style="background-color:darkblue;color: white; padding: 15px; font-size: 24px;" colspan="3"><b>IV. FACULTADES Y PODERES.</b></td>
        </tr>
        <!-- Actos de dominio -->
        [DOMINIO]
        <!-- Poderes de administración -->
        [ADMINISTRACION]
        <!-- Títulos de crédito -->
        [TITULOS]
        <!-- Otorgar y revocar -->
        [OTORGAR]
        <!-- Poderes especiales -->
        [ESPECIALES]
    </table>

    <table cellpadding="3" style="margin-top: 60px;font-size: 20px;font-family: arial, sans-serif;border-collapse: collapse;width: 100%;overflow: hidden;border-spacing: 0 0;">
        <tr>
            <td style="page-break-inside: avoid;background-color:darkblue;color: white; padding: 15px; font-size: 24px;" colspan="3"><b>V. DOCUMENTACIÓN CON LA QUE SE ACREDITA SU LEGAL EXISTENCIA</b></td>
        </tr>
        <tr style="text-align: center;">
            <td style="padding: 10px;"><b>CONSTITUCIÓN</b></td>
        </tr>
        <tr>
            <table cellpadding="3" style="page-break-inside: auto;font-size: 20px;font-family: arial, sans-serif;border-collapse: collapse;width: 100%;overflow: hidden;border-spacing: 0 0;">
                <tr style="background-color: gainsboro;">
                    <td style="width: 25%; padding-left: 20px;">Número de escritura</td>
                    <td style="width: 25%; padding-left: 20px;">[ESCRITURA]</td>
                </tr>
                <tr>
                    <td style="padding-left: 20px;">Fecha</td>
                    <td style="padding-left: 20px;">[FECHA]</td>
                </tr>
                <tr style="background-color: gainsboro;">
                    <td style="width: 50%; padding-left: 20px;">Fedetario</td>
                    <td style="width: 50%; padding-left: 20px;">[FEDETARIO]</td>
                </tr>
                <tr>
                    <td style="padding-left: 20px;">Datos de inscripción en el regístro público de comercio</td>
                    <td style="padding-left: 20px;">[REGISTRO]</td>
                </tr>
                <tr style="text-align: center;">
                    <td colspan="2" style="padding: 10px;"><b>DOCUMENTACIÓN CORPORATIVA</b></td>
                </tr>
                [CONSTITUCION]
            </table>
        </tr>
    </table>

    <table cellpadding="3" style="page-break-inside: auto;margin-top: 60px;font-size: 20px;font-family: arial, sans-serif;border-collapse: collapse;width: 100%;overflow: hidden;border-spacing: 0 0;">
        <tr>
            <td style="page-break-inside: avoid;background-color:darkblue;color: white; padding: 15px; font-size: 24px;" colspan="3"><b>VI. OBSERVACIONES</b></td>
        </tr>
        <tr>
            <td>[OBSERVACIONES]</td>
        </tr>
    </table>
</body>
</html>
